<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/standard.css">
    <script data-search-pseudo-elements defer src="https://kit.fontawesome.com/52eb7513f8.js" crossorigin="anonymous"></script>
    <title>Landing Page</title>
    <script src="scripts/indexScripts.js" defer></script>

    <style>
       
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="left">
            <h1>Igloo
                <div class="snippet" data-title=".dot-flashing">
                    <div class="stage">
                      <div class="dot-flashing"></div>
                    </div>
                  </div>
            </h1>
            <p>online video chat</p>
            
           <div class="socialmedia">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
           </div>
        </div>
        <div class="linksContainer right">
            <div class="menu">
                <ul>
                    <li><a href="/about-us">About</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <!-- <div class="form">
                <form action="/newRoom" method="post" name="form" id="form">
                    <div class="area"> <input placeholder="Your name" type="text" name="name" id="name"></div>
                    <div><input type="submit" value="Create new room" id="submitButton"></div>
                </form>
            </div> -->
            <!-- Please comment out from before when you test -->
            <div class="loginForm aboutUs">
                <h2>About Us</h2>  
                <p class="aboutUsText">Igloo is the newest name in video conferencing software. It is the perfect tool for team collaboration, business meetings, family gatherings or just to see your friends during a pandemic.</p>
                <p class="aboutUsText">We are committed to privacy and we will never sell your information or listen in on your calls. We guarantee it!</p>
            </div>
        </div>
    </div>
</body>
</html>