<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/standard.css">
    <script data-search-pseudo-elements defer src="https://kit.fontawesome.com/52eb7513f8.js" crossorigin="anonymous"></script>
    <title>Landing Page</title>
    <script src="scripts/indexScripts.js" defer></script>

    <style>
       
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="left">
            <h1>Igloo
                <div class="snippet" data-title=".dot-flashing">
                    <div class="stage">
                      <div class="dot-flashing"></div>
                    </div>
                  </div>
            </h1>
            <p>online video chat</p>
            
           <div class="socialmedia">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
           </div>
        </div>
        <div class="linksContainer right">
            <div class="menu">
                <ul>
                    <li><a href="/about-us">About</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <!-- <div class="form">
                <form action="/newRoom" method="post" name="form" id="form">
                    <div class="area"> <input placeholder="Your name" type="text" name="name" id="name"></div>
                    <div><input type="submit" value="Create new room" id="submitButton"></div>
                </form>
            </div> -->
            <!-- Please comment out from before when you test -->
            <div class="loginForm">
                <h2>FAQ</h2>
                <div class="faqParentDiv">
                    <div class="faqDiv">
                        <p class="question"><span class="faqLetter">Q: </span>What is Igloo?</p>
                        <p class="answer"><span class="faqLetter">A: </span>Igloo is the internet's premier video conferencing app! It's fast and easy to use. If you like to work hard and play hard, this is the app for you.</p>
                    </div>
                    <div class="faqDiv">
                        <p class="question"><span class="faqLetter">Q: </span>What can I use Igloo for?</p>
                        <p class="answer"><span class="faqLetter">A: </span>Use Igloo for all kinds of video conferences! Chat with family and friends, conduct business meetings, even use it while you're gaming to communicate with your team.</p>
                    </div>
                    <div class="faqDiv">
                        <p class="question"><span class="faqLetter">Q: </span>Do I have to pay to use Igloo?</p>
                        <p class="answer"><span class="faqLetter">A: </span>No! Igloo is a class project by a bunch of web development students. This app was built with passion and has never been released commercially. Until then, Igloo will always remain free to use.</p>
                    </div>
                </div>
            
        </div>
    </div>
</body>
</html>