<%- include('partials/top.ejs') %> 

<main>
    <h1>LANDING PAGE</h1>
    <p>Hello World!#$%$#%</p>
    <p>Insert login form here</p>
    <a href="/lobby">Go to Lobby</a>
</main>

<%- include('partials/bottom.ejs') %> 